body {
    background: linear-gradient(#40E0D0,#FF8C00,#FF0080);
    font-size: 16px;
    font-family: Arial;
    margin: 0 auto;
}
.content {
    background: #fff;
    width: 800px;
    margin: 0 auto;
    padding: 10px 60px
}
.news__poster {
    width: 400px;
    border-radius: 15px;
    transition: 2s;
}
.a {
    background-color: #e8954e ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.menu__link:hover {
    border-bottom: 1px solid #ed8282;
}
.menu {
	width: 100%;
    display: table;
}
.menu :hover, .menu a:hover {
	background: #666;
}
.menu a {
    background: #964bed;
	display: block;
    padding: 10px 15px;
	color: #fff;
	text-align: center;
}
.menu__link {
/*    margin-right: 35px;*/
    padding-bottom: 5px;
    transition: none;
    border-bottom: 1px solid #fff0;
    color: #fff;
}